.section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
  }
  
  .main {
    width: 32vw;
    padding: 25px;
    border-radius: 15px;
    background: rgba(250, 130, 74, 0.582);
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 5vh;
  }
  
  .preview {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .box label {
    font-weight: 600;
  }
  
  .box input,
  .box select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
    transition: 0.3s;
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: royalblue;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .btn:hover {
    background: rgb(45, 66, 170);
    transform: translateY(-3px);
  }
  
  .preview {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
  