.collection {
  max-height: 100vh;
  width: 100%;
  padding: 0 30px;
}

.collection .main {
  background-color: #2c3e50;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
  padding: 40px;
}

.collection .main .img {
  border-radius: 10px;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 35px;
  color: cornsilk;
  background-color: rgba(128, 128, 128, 0.342);
}

.collection .main .img p {
  width: 50%;
  padding: 80px;
  text-align: center;
  font-size: 1rem;
  transition: 0.4s;
  line-height: 1.9vw;
  text-shadow: 0 0 10px #ffdab9;
  letter-spacing: 0.1rem;
  border-radius: 130px 0 130px 0;
}

.collection .main .img img {
  width: 45%;
  transition: 0.4s;
}

.collection .main .img img:hover,
.collection .main .img p:hover {
  box-shadow: 0 0 10px #ffdab9;
  opacity: 0.6;
  scale: 0.95;
}

.collection .main .img #right {
  border-radius: 0 130px 0 130px;
}

.collection .main .img #left {
  border-radius: 130px 0 130px 0;
}
