.footer {
  background: #111;
  padding: 40px 5%;
  color: #fff;
  border-top: 2px solid #444;
  margin-top: 30vh;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.footerBox h3 {
  margin-bottom: 15px;
  font-size: 1.1rem;
  color: #ffcf70;
}

.logo {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffcf70;
}

.desc {
  margin-top: 10px;
  line-height: 1.6;
  color: #ddd;
}

/* List */
.footerBox ul li {
  list-style: none;
  margin: 8px 0;
}

.footerBox ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s ease;
}

.footerBox ul li a:hover {
  color: #ffcf70;
  margin-left: 5px;
}

/* Contact Icons */
.contactList li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ccc;
  margin: 10px 0;
}

.contactList a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.contactList a:hover {
  color: #ffcf70;
}

/* Social Icons */
.socials {
  display: flex;
  gap: 18px;
  margin-top: 10px;
}

.socials a {
  font-size: 1.4rem;
  color: #ccc;
  transition: 0.3s ease;
}

.socials a:hover {
  color: #ffcf70;
  transform: translateY(-3px);
}

/* Bottom Area */
.bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 20px;
  margin-top: 40px;
  color: #888;
}
