.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2c3e50;
  box-shadow: 0px 4px 10px rgba(243, 136, 6, 0.322),
    0px 2px 4px rgb(107, 105, 102);
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0 80px;
}

.right {
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 25%;
}

.right h3 {
  color: rgb(0, 0, 0);
  background-color: cornsilk;
  font-size: 0.8rem;
  border: 1px solid cornsilk;
  padding: 7px 11px ;
  text-decoration: none;
  border-radius: 10px;
}

.right a {
  transition: 0.3s;
  text-decoration: none !important;
}

/* Hover Effect */
.right a:hover {
  border-radius: 10px;
  border-color: #e0c97a;
  transform: translateY(-3px);
  box-shadow: 0 5px 12px rgba(0,0,0,0.15);
}

/* ---- LOGO ---- */
.navbar .logo {
  height: 70px;
  padding: 5px;
  transform: scale(1.7);
  cursor: pointer;
  transition: transform 0.3s ease;
  object-position: center;
}

.navbar .logo:hover {
  transform: scale(1.9);
}

/* ---- LEFT SIDE ---- */
.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* ---- LOGIN BUTTON ---- */
.login {
  background-color: rgba(72, 211, 141, 0.671);
  color: cornsilk;
  padding: 13px 20px;
  border-radius: 20px;
  border: none;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.1vw;
  transition: 0.3s;
  cursor: pointer;
}

.login:hover {
  background-color: rgba(10, 134, 192, 0.877);
}

/* ---- NAV LINKS ---- */
.left ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 50px;
  padding-right: 20px;
  margin: 0;
}

.left ul li a {
  font-size: 1.1vw;
  font-weight: 400;
  color: cornsilk;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  position: relative;
}

/* Hover effect */
.left ul li a:hover {
  color: rgb(233, 164, 61);
  transform: scale(0.95);
}

/* Active route styling */
.active {
  color: rgb(233, 164, 61);
}

.left ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: rgb(233, 164, 61);
  transition: width 0.3s ease;
}

.left ul li a:hover::after,
.left ul li a.active::after {
  width: 100%;
}

/* ---- RESPONSIVE ---- */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 25px;
  }

  .left ul {
    gap: 20px;
  }

  #login {
    font-size: 3.5vw;
    padding: 8px 16px;
  }

  .left ul li a {
    font-size: 3.2vw;
  }
}
