.container {
  width: 100%;
  min-height: 90vh;
  background: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.container .card h2 {
  color: #2c3e50;
}

.card {
  position: absolute;
  top: 5;
  width: 380px;
  background: #ecf0f1;
  padding: 10px 20px;
  border-radius: 14px;
  border: 1px solid #bdc3c7;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.heading {
  text-align: center;
  color: #ecf0f1;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.inputGroup label {
  color: #1e5f8a;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
}

.inputGroup input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #333;
  background: #2c3e50;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  outline: none;
  transition: 0.3s ease;
}

.inputGroup input:focus {
  border-color: #d4af37;
  box-shadow: 0 0 8px rgba(212, 175, 55, 0.4);
}

.signupBtn {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  background: #3498db;
  border: none;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s ease;
  font-weight: 600;
}

.signupBtn:hover {
  background: rgb(5, 143, 113);
  color: cornsilk;
}

.loginText {
  text-align: center;
  margin-top: 15px;
  color: #2c3e50;
}

.loginText a {
  color: #16202b;
  font-weight: 600;
  text-decoration: none;
}

.loginText a:hover {
  text-decoration: underline;
}
