  .wrapper {
    width: 100%;
    height: 100vh;
    background: #f5f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: fadeIn 0.6s ease-in-out;
  }
  
  .card {
    padding: 40px 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.349);
    animation: slideUp 0.5s ease-out;
    max-width: 450px;
    margin-bottom: 10vh;

  }

  .card img {
    height: 200px; 
    width: 100%;
    object-fit: cover;
    border-radius: 130px 0px 130px 0px;
    box-shadow: 0px 4px 4px rgb(63, 63, 63);
    animation: fadeIn 2s ease-in-out;

  }
  
  .icon {
    font-size: 70px;
    color: #4caf50;
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 32px;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 16px;
    color: #555;
    margin-bottom: 25px;
  }
  
  .btn {
    padding: 12px 28px;
    background: #4caf50;
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;
  }
  
  .btn:hover {
    background: #43a047;
    transform: translateY(-5px);
  }
  
  /* Animations */
  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  @keyframes slideUp {
    from { transform: translateY(60px); opacity: 0; }
    to   { transform: translateY(0); opacity: 1; }
  }
  