*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "gilroy";
}

html, body {
  height: auto !important;
  width: 100%; 
  overflow: visible !important;
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

::-webkit-scrollbar{
  display: none;
}